@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #d5dae0;
}

@layer base {
  input,
  select,
  textarea {
    background-color: #eceff2;
  }
}

@media print {
  body {
    background: #fff;
  }
  @page {
    margin: 0.5in;
  }
}
